body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(39, 36, 36);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

#container {
    text-align: center;
    padding: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
    border-radius: 15px;
    background-color: rgb(192, 192, 192);
}

#instagram {
    margin-top: 100px;
    border-radius: 5px;
    height: 60px;
    width: 200px;
}

#github {
    margin-top: 20px;
    border-radius: 5px;
    height: 60px;
    width: 200px;
}

#whatsapp {
    margin-top: 20px;
    border-radius: 5px;
    height: 60px;
    width: 200px;
}

footer {
    margin-top: 50px;
}

button {
    background-color: rgb(64, 48, 90);
    color: white;
}